.MAIN_CONTAINER
{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20vh;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 10%;
    clear: both;
}